body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #3f88d6;
}

.login-container {
  width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 25px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(108, 123, 167);
  color: #333;
}

.input-group input:focus,
.input-group input:not(:placeholder-shown) {
  background-color: white;
  color: #000;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #00408a;
}

.links {
  margin-top: 20px;
}

.links a {
  display: block;
  color: #007bff;
  text-decoration: none;
  margin-top: 12px;
}

.links a:hover {
  text-decoration: underline;
}
