
.mail-content {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #03b1fc; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    background-color: #7de8cd;
}


.mail-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.mail-item {
    padding: 15px;
    min-width: 800px;
    min-height: 80px;;

    background-color: #9ee2ff;
    border-bottom: 1px solid #fff;

    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail-item:hover {
    background-color: #03b1fc;
    
}

.mail-item .buttons {
    width: 150px;
    height: 10px;
    /* background-color: red; */
}



.MRbutton-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .MRbutton-layout div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #f1f1f1;
  }
  
  /* Sử dụng Font Awesome cho các nút */
  .search-button::before {
    content: "\f002"; /* Icon search */
    font-family: "FontAwesome";
    font-size: 20px;
    color: black;
  }
  
  .approve-button::before {
    content: "\f00c"; /* Icon check */
    font-family: "FontAwesome";
    font-size: 20px;
    color: green;
  }
  
  .deny-button::before {
    content: "\f00d"; /* Icon cross */
    font-family: "FontAwesome";
    font-size: 20px;
    color: red;
  }
  
  /* Đổ bóng và thêm viền khi hover */
  .MRbutton-layout div:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }