.container-homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-color: #0056b3;
}

.header-homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: rgb(255, 255, 255);
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
}

.header-homepage img {
  height: 50px;
}

.header-homepage .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.header-homepage .buttons button {
  width: 120px;
  height: 50px;
  font-size: 0.75rem;
  padding: 5px 10px;
  color: rgb(3, 3, 3);
  background-color: #b6bec9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header-homepage .buttons button:hover {
  background-color: #0056b3;
}

.body-homepage {
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.body-homepage table {
  width: 100%;
  border-collapse: collapse;
  max-width: 800px;
  margin: 0 auto;
}

.body-homepage table th,
.body-homepage table td {
  padding: 12px;
  border: 2px solid #0f0f0f;
  text-align: center;
  color: black;
}

.body-homepage table th {
  background-color: #add8e6;
  color: black;
}

.quote {
  align-self: center;
  text-align: center;
  margin: 20px 0;
  font-size: 1.2rem;
  width: 80%;
  background-color: #9e9e9e;
  color: #030303;
}

.body-homepage .title {
  color: black;
}
.create-project-bt {
  width: 200px; /* Kích thước nút nhỏ hơn */
  height: 80px; /* Chiều cao nút nhỏ hơn */
  margin-top: 20px; /* Khoảng cách giữa bảng và nút */
  font-size: 0.9rem; /* Giảm kích thước font */
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block; /* Đảm bảo nút là khối để căn giữa */
  margin-left: auto;
  margin-right: auto; /* Căn giữa nút */
}

.create-project-bt:hover {
  background-color: #0056b3;
}
